@import url('./styles/_variables.css');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
    scroll-behavior: smooth;
}

/* Header */
header {
    width: 100%;
    max-width: 1440px;
    height: 96px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.logo-container {
        display: flex;
        align-items: center;
        cursor: pointer;
}

.logo-container>img {
    width: 56px;
    height: 56px;
    margin-right: 8px;
}

.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container>span {
    font-size: 19px;
    color: var(--white);
}

.help-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.help-container>img {
    width: 24px;
    height: 24px;
}

.profile-container {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    background-color: white;
}

.text-container {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 2px solid var(--primary-color);
}

.text-container>span {
    font-size: 19px;
    color: var(--secondary-color);
}

/* Sidebar */
.sidebar-content-container {
    width: 100%;
    max-width: 1440px;
    height: calc(100vh - 96px);
    display: flex;
    flex-direction: row-reverse;
}

.sidebar {
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.nav-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
}

.nav-item {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding-left: 40px;
    border-radius: 8px;
    font-size: 16px;
    color: #42526E;
    text-decoration: none;
    cursor: pointer;
}

.nav-item:hover {
    background-color: var(--sidebar-hover);
}

.active {
    background-color: var(--sidebar-active);
}

.active:hover {
    cursor: default;
    background-color: var(--sidebar-active);
}

.legal-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 48px;
}

.legal-link {
    font-size: 16px;
    color: #42526E;
    text-decoration: none;
    padding: 8px;
}

.legal-link:hover {
    color: var(--secondary-color);
}

/* Footer */