body {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-content {
    width: 84%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#greetingContainer {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.guest-greeting-text {
    font-size: 64px;
    color: #2A3647;
}

.summary-container {
    width: 100%;
    height: calc(100% - 140px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-top-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.urgent-tasks-container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 30px;
}

.urgent-tasks-wrapper {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.urgent-wrapper-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* left-container top-content muss umbenant werden in urgent zwecks schriftfarbe */

.urgent-separator {
    height: 90%;
    width: 3px;
    background-color: white;
}

.right-container {

}

.board-tasks-container {
    width: 208px;
    height: 191px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #00000029;
    cursor: pointer;
    padding: 40px;
}

.todo-tasks-container, .inprogress-tasks-contianer, .awaitfeedback-tasks-container, .done-tasks-container {
    width: 204px;
}

.top-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.task-icon-wrapper {
    width: 78px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.task-icon {
    width: 80px;
    height: 80px;
    /* border-radius: 40px; */
}

#totalUrgentTasks, #totalBoardTasks, #totalToDoTasks, #totalInProgressTasks, #totalAwaitFeedbackTasks, #totalDoneTasks {
    font-size: 48px;
    font-weight: bold;
    color: black;
}

.bottom-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-content-text {
    color: var(--secondary-color);
    font-size: 24px;
    text-align: center;
}